{% extends '::base.html.twig' %}

{% block body %}
    <!-- Header -->

    <h1 style="text-align: center;">Hého, Cette partie ne vous appartient pas !</h1>
    </br>
    <a style="text-align: center; font-size: 35px;" href="/jeu">RETOUR</a>



{% endblock %}